<!-- Modal -->
<div class="modal fade" id="tile-creator" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"> {{ modalTitle }} </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]="title" placeholder="Name of the new activity of the given Type" 
                   aria-label="title" aria-describedby="basic-addon2">
          </div>
        </div>
        <div class="modal-footer">
          <button *ngFor="let button of defaultButtons" 
                  type="button" class="btn" data-dismiss="modal"
                  (click)="closeCreator(button.actionType)"
                  [ngClass]="{'btn-primary': button.actionType === 'accept' ? true : false}"
                  [ngClass]="{'btn-secondary': button.actionType === 'accept' ? false : true}">
            {{ button.name }} 
          </button>
        </div>
      </div>
    </div>
  </div>