<!-- Element that toggle modal -->
<ng-content></ng-content> 
<!-- Modal -->
<div class="modal fade" id="newActivityModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"> {{ title }} </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="title" aria-label="title" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <input class="input-group-text" id="basic-addon2" [(colorPicker)]="color" [style.background]="color"/>
              <!-- <span class="input-group-text" id="basic-addon2">Color picker</span> -->
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button *ngFor="let button of defaultButtons" type="button" class="btn btn-secondary" data-dismiss="modal"> 
            {{ button.name }} 
          </button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>