<div class="cards">
  <h2 class="cardTitle">Server</h2>
  <hr/>
  <div class="container">
      <div class="row no-gutters">
        <div class="col-sm-1">
           <app-activity-creator>
               <button class="btn btn-success rounded-left text-center addTaskButton" 
                       data-toggle="modal" data-target="#newActivityModal">+</button>
           </app-activity-creator>
        </div>
        <div class="col-sm-11 tasksAlbum">
            <div class="container testimonial-group">
                <div class="row text-center flex-nowrap">
                  <div *ngFor="let activity of activities" class="col-sm-4" 
                        mwlDraggable 
                        [dropData]="activity"
                        dragActiveClass="drag-active"
                        [ngStyle]="{'background-color': activity.color}">
                    {{ activity.title }}
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div>
        <div style="background-color: white"
             mwlDroppable
             (drop)="onDrop($event)"
             dragOverClass="drop-over-active">
          <div class="drop-place"> Drop here </div>
        </div>
      </div>
      <div class="row no-gutters">
          <div class="card col-sm-3" *ngFor="let activeActivitie of activeActivities">
            <div class="card-header" [ngStyle]="{'background-color': activeActivitie.color}">
                {{ activeActivitie.title }}
            </div>
            <div class="card-body">
              <h5 class="card-title tile-text">{{ activeActivitie.title }}</h5>
            </div>
          </div>
      </div>
    </div>
  <app-tile-creator></app-tile-creator>
</div>
  