.addTaskButton {
    font-size: 20px;
    width: 90%;
    padding-bottom: 20px; 
    padding-top: 18px;
    border: 0;
}
/* The heart of the matter */

.testimonial-group > .row {
    overflow-x: auto;
    white-space: nowrap;
}
.testimonial-group > .row > .col-sm-4 {
    display: inline-block;
    float: none;
}
.tile-text {
    color: black;
}
.drop-place {
    border-style: dashed;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    vertical-align: middle;
}
.entityType {
    font-size: 20px;
    padding-bottom: 20px; 
    padding-top: 18px; 
}
.publishers {
    margin-top: 20px;
}
/* Decorations */
.col-sm-4 { 
    color: #fff; 
}
.col-sm-3 { 
    color: #fff; 
    font-size: 20px; 
    margin-top: 10px; 
}