<div class="cards">
  <h2 class="cardTitle">Server</h2>
  <hr/>
  <div class="container">
      <h1>Types</h1>
      <div class="row no-gutters">
        <div class="col-sm-1">
          <app-entity-creator>
              <button class="btn btn-success text-center addTaskButton" 
                      data-toggle="modal" data-target="#newEntityModal">+</button>
          </app-entity-creator>
        </div>
        <div class="col-sm-11 tasksAlbum">
          <div class="container testimonial-group">
            <div class="row text-center flex-nowrap">
              <div *ngFor="let entity of entities" class="col-sm-4 entityType" 
                    mwlDraggable 
                    [dropData]="entity"
                    dragActiveClass="drag-active"
                    [ngStyle]="{'background-color': entity.color}">
                <div>
                  {{ entity.type }}
                  <span style="float: right" (click)="deleteEntity(entity)">
                    [x]
                  </span>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="container publishers">
      <h1>Active Publishers</h1>
      <div>
        <div style="background-color: white"
             mwlDroppable
             (drop)="onDrop($event)"
             dragOverClass="drop-over-active">
          <div class="drop-place"> Drop a type here </div>
        </div>
      </div>
      <div class="row no-gutters">
          <div class="card col-sm-3" *ngFor="let activity of activities">
            <div class="card-header" [ngStyle]="{'background-color': activity.entity.color}">
              <div>
                <span style="float: right" (click)="deleteActivity(activity)">
                  [x]
                </span>
              </div>{{ activity.entity.type }}
            </div>
            <div class="card-body">
              <span style="color: black">
                  {{ activity.title }}
              </span>
              <span style="color: black; float: right">
                  [{{ activity.interval }}]
                  {{ activity.counter }}
              </span>
            </div>
          </div>
      </div>
    </div>
  <app-tile-creator [entity]='dropData'></app-tile-creator>
</div>
  