<div class="cards">
  <h2 class="cardTitle">Server</h2>
  <hr/>
  <div class="container">
      <div class="row no-gutters">
        <div class="col-sm-1">
           <app-activity-creator>
               <button class="btn btn-success rounded-left text-center addTaskButton" 
                       data-toggle="modal" data-target="#newActivityModal">+</button>
           </app-activity-creator>
        </div>
        <div class="col-sm-11 tasksAlbum">
            <div class="container testimonial-group">
                <div class="row text-center flex-nowrap">
                  <div class="col-sm-4">1</div>
                  <div class="col-sm-4">2</div>
                  <div class="col-sm-4">3</div>
                  <div class="col-sm-4">4</div>
                  <div class="col-sm-4">5</div>
                  <div class="col-sm-4">6</div>
                  <div class="col-sm-4">7</div>
                  <div class="col-sm-4">8</div>
                  <div class="col-sm-4">9</div>
                </div>
              </div>
        </div>
      </div>
    </div>
</div>
  