<div class="cards">
  <h2 class="cardTitle">Client</h2>

  <hr/>

  <form [formGroup]="form">
  <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <button class="btn btn-success" (click)="addClient()" [disabled]="!form.valid" id="inputGroup-sizing-sm">Create user</button>
    </div>
      <input type="text" placeholder="uniqe name" [(ngModel)]="inputClientName" (keyup.enter)="addClient()"
             class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
             name="userName" formControlName="userName">
    </div>
  </form>
  
  <app-user-list [users]="users"></app-user-list>
  <app-user-manager></app-user-manager>
</div>
